<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="yypbd.github.io">
    <meta name="author" content="yypbd">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/clean-blog.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item{% if page.title == "Delphi projects" %} active{% endif %}">
                        <a class="nav-link" href="/delphi">Delphi{% if page.title == "Delphi projects" %} <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if page.title == "Utility projects" %} active{% endif %}">
                        <a class="nav-link" href="/utility">Utility{% if page.title == "Delphi projects" %} <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if page.title == "yypbd's About" %} active{% endif %}">
                        <a class="nav-link" href="/about">About{% if page.title == "Delphi projects" %} <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if page.title == "yypbd's Blog" %} active{% endif %}">
                        <a class="nav-link" href="/blog">Blog{% if page.title == "Delphi projects" %} <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{ content }}

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        {% for footer in site.data.footers %}
                        <li class="list-inline-item">
                            <a href="{{ footer.url }}" target="_blank">
                            <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-{{ footer.icon }} fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; yypbd 2017</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>